ol {
    padding: 0;
}

li {
    list-style-type: none;
}

.playlist, #no-playlists-messsage {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
}

.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#no-playlists-messsage {
    background-color: grey;
    text-align: center;
}

.playlist > button {
    width: 13em;
    min-width: 13em;
    height: 13em;
    border-radius: 1em;
    font-size: medium;
    border-style: none;
}

@media screen and (max-width: 600px) {
    .playlist {
        flex-direction: column;
    }

    .playlist > button {
        height: 5em;
        margin-top: 1em;
    }
}
