<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>About</h1>
    <p>
      MusicHosting è un'applicazione che permette agli utenti di gestire la propria musica online.
      L'applicativo consente agli utenti di caricare, ascoltare, gestire e condividere brani musicali
      in maniera semplice ed efficace. Ogni brano caricato nel sistema è accompagnato da una copertina
      dell'album e da un insieme di metadati descrittivi, come il titolo, l'artista, l'album di
      appartenenza, il genere musicale e l'anno di rilascio, i quali aiutano a catalogare e ricercare
      i contenuti con precisione.
    </p>
  </ion-content>
</ion-content>
