<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>About</h1>
    <p>
      MusicHosting è un'applicazione che permette agli utenti di gestire la propria musica online.
      L'applicativo consente agli utenti di caricare, ascoltare, gestire e condividere brani musicali
      in maniera semplice ed efficace. Ogni brano caricato nel sistema è accompagnato da una copertina
      dell'album e da un insieme di metadati descrittivi, come il titolo, l'artista, l'album di
      appartenenza, il genere musicale e l'anno di rilascio, i quali aiutano a catalogare e ricercare
      i contenuti con precisione.
    </p>
    <p>
      Gli utenti che non sono registrati, ossia coloro che accedono all'applicazione senza effettuare
      il login, possono usufruire di alcune funzionalità fondamentali: hanno la possibilità di
      visualizzare una selezione casuale di brani o playlist presenti all'interno della piattaforma;
      possono effettuare ricerche mirate tra i brani disponibili, utilizzando come criteri il titolo
      del brano, il nome dell'artista, il nome dell'album, il genere musicale oppure l'anno di rilascio
      del brano stesso. Inoltre, agli utenti non registrati è data la possibilità di ascoltare un brano
      liberamente, senza dover creare un account. Infine, possono accedere con un account esistente o
      procedere alla registrazione, creando un nuovo profilo personale.
    </p>
    <p>
      Gli utenti registrati, cioè coloro che hanno effettuato l'accesso al sistema con le proprie
      credenziali, hanno accesso a una gamma di funzionalità più ampia rispetto agli utenti non
      registrati. In particolare, essi possono caricare nuovi brani musicali all'interno della
      piattaforma, arricchendo così la libreria musicale disponibile. Hanno inoltre la possibilità
      di creare nuove playlist, organizzando i brani secondo le loro preferenze. Gli utenti autenticati
      possono anche visualizzare e gestire tutti i brani e le playlist da loro stessi creati o caricati,
      potendo così personalizzare la propria raccolta musicale. Infine, è loro consentito aggiornare le
      informazioni personali associate al proprio account.
    </p>
  </ion-content>
</ion-content>
