@if (isDisplayed) {
  <div #songItem class="mini-player">
        <div class="song-details">
            <h2>{{ song?.artist + " - " + song?.title }}</h2>
        </div>
      <!-- TODO: Adapt for mobile -->
      <div id="control-buttons-container">
          @if (playingSongs.length > 1) {
            <button (click)="playPreviousSong()" class = "play-button">
              <span class="material-symbols-outlined play-icon">skip_previous</span>
            </button>          }
          @if(isPlaying) {
            <button (click)="pauseSong()" class = "play-button">
              <span class="material-symbols-outlined play-icon">pause</span>
            </button>
          } @else {
            <button (click)="playSong()" class = "play-button">
              <span class="material-symbols-outlined play-icon">play_arrow</span>
            </button>
          }
          @if (playingSongs.length > 1) {
            <button (click)="playNextSong()" class = "play-button">
              <span class="material-symbols-outlined play-icon">skip_next</span>
            </button>
          }
          <button (click)="restartSong()" class = "play-button">
            <span class="material-symbols-outlined play-icon">replay</span>
          </button>
          
            <button (click)="open()" class="play-button">
              <span class="material-symbols-outlined play-icon">open_in_new</span>
            </button>
          <button (click)="close()" class="play-button">
            <span class="material-symbols-outlined play-icon">close</span>
          </button>
      </div>
  </div>
}
