.mini-player {
    height: 4em;
    padding: 1em;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

#control-buttons-container {
    display: flex;
    flex-wrap: nowrap;
}

#control-buttons-container > button {
    margin-left: 1em;
    font-size: 0.4em;
}

#control-buttons-container > button > .play-icon {
    font-size: 3.5em;
}
