#controls {
    text-align: center;
    flex-basis: 50%;
}

#progress-bar {
    width: 100%;
    border-radius: 1em;
}

#control-buttons-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#control-buttons-container > button {
    width: 5em;
    height: 5em;
    border-radius: 10em;
    font-size: medium;
}

#control-buttons-container > button >  .play-icon {
    font-size: 2.5em; 
}

#no-song-messsage {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: grey;
    text-align: center;
}

.playing-song {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing-song-active {
    border: 0.5em solid #4CAF50;
}


.playing-song-image {
    width: 20em;
    height: 20em;
    flex-shrink: 0;
    margin-right: 1em;
    border-radius: 1em;
    border: solid 3px white;
}

.icon{
    font-size: 2.5em;
}

button:hover .fullHeart{
    color: red;
}

.fullHeart {
  font-variation-settings: 'FILL' 1, 'wght' 700;
  color: red;
}


@media screen and (max-width: 1300px) {
    .song {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .playing-song-data {
        align-items: flex-start;
        flex-direction: column;
    }

    .playing-song-image {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .song-data {
        flex-direction: column;
        text-align: center;
    }

    .song-image {
        margin-right: 0;
    }

    .playing-song {
        flex-direction: column;
    }

    .playing-song-data {
        align-items: center;
    }
}