<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MySongs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MySongs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>My uploaded songs</h1>
    <app-song-list [songs]="mySongs"></app-song-list>
    <h2>My songs actions</h2>
    <div id="songs-actions">
      <div class="select-song-container">
        <ion-item>
          <ion-label>Select a song to delete</ion-label>
          <ionic-selectable
            [(ngModel)]="selectedSongToDelete"
            [itemValueField]="'id'"
            [itemTextField]="'title'"
            [items]="mySongs"
            [canSearch]="true"
          >
          </ionic-selectable>
        </ion-item>
        <button (click)="deleteSong()">Delete song</button>
      </div>
    </div> 
  </ion-content>
</ion-content>
