<ol class="list">
  @for (song of sortedSongs(); track song.id) {
    <li class="song">
      <div class="song-data">
        <img class="song-image" src="http://localhost:3000/songs/id/{{ song.id }}/album_picture" onerror="this.src='../assets/img/default-song-image.png';" />
        <div class="song-details">
            <h2>{{ song.title }}</h2>
            <p><b>Artist:</b> {{ song.artist }}</p>
            <p><b>Album:</b> {{ song.album }}</p>
            <p><b>Genre:</b> {{ song.genre }}</p>
            <p><b>Release year:</b> {{ song.releaseYear }}</p>
            <p><b>Likes :</b> {{ likesPerSong()[song.id] || 0 }}</p>
        </div>
      </div>
          <button (click)="play(song.id)" class="play-button">
            <span class="material-symbols-outlined play-icon">play_arrow</span>
          </button>
    </li>
  } @empty {
    <li id="no-songs-messsage">No songs available</li>
  }
</ol>
