ol {
    padding: 0;
}

li {
    list-style-type: none;
}

.song, #no-songs-messsage {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: grey;
    border-radius: 1em;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#no-songs-messsage {
    text-align: center;
}

.song-data {
    display: flex;
    align-items: center;
}

.song-image {
    width: 13em;
    height: 13em;
    flex-shrink: 0;
    margin-right: 1em;
    border-radius: 1em;
}

.song > button {
    width: 10em;
    height: 10em;
    border-radius: 5em;
    font-size: medium;
    border-style: none;
    
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40;
    font-size: 5em;
}


.song > button:hover {
    background-color: #d3d3d3;
}

@media screen and (max-width: 800px) {
    .song {
        flex-direction: column;
    }

    .song > button {
        height: 5em;
        margin-top: 1em;
    }
}

@media screen and (max-width: 500px) {
    .song-data {
        flex-direction: column;
        text-align: center;
    }

    .song > button {
        margin-top: 0;
    }

    .song-image {
        margin-right: 0;
    }
}

.play-icon {
  font-size: 5rem; /* or any size you prefer */
  vertical-align: middle;
}

.play-button:hover .play-icon {
    color: black; /* Change to your desired hover color */
}

.play-button:hover {
    background-color: #f0f0f0; /* Change to your desired hover background color */
    cursor: pointer; /* Change cursor to pointer on hover */
}