.list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.song, #no-songs-messsage {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 1400px) {
    .song {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .song-data {
        flex-direction: column;
        text-align: center;
    }

    .song-image {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .song {
        width: 100%;
    }
}