<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ManageAccount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ManageAccount</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>Manage your account</h1>
    <form id="changeName-form" [formGroup]="changeNameForm">
        <label for="name">Name</label>
        <input type="name" id="name" name="name" formControlName="name" required />
        
        <button type="submit" (click)="changeName()">Change Name</button>
    </form>
    <ion-text color="success" *ngIf="successMessage">{{ successMessage }}</ion-text>
    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  
 
    <!-- <form (ngSubmit)="changeName()">
      <ion-item>
        <ion-label position="floating">New Name</ion-label>
        <ion-input for="newName" name="newName" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Change Name</ion-button>
    </form> -->
  </ion-content>
</ion-content>
