<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ResetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ResetPassword</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>Reset Password</h1>
    <form id="reset-password-form" [formGroup]="resetPasswordForm">
        <label for="otp">OTP</label>
        <input type="text" id="otp" name="otp" formControlName="otp" required />
        @if (resetPasswordForm.get('otp')?.invalid && resetPasswordForm.get('otp')?.touched) {
            <p class="error">OTP length should be 6 characters</p>
        }
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
        @if (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
            <p class="error">Passowrd length should be between 3 and 20 characters</p>
        }
        <button type="submit" (click)="submit()" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
  </ion-content>
</ion-content>
